<ng-container *ngIf="!loggedIn">
  <div class="login-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Trello AI Helper</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-flat-button (click)="login()" color="primary">
          Login to Trello
        </button>
      </mat-card-content>


    </mat-card>

  </div>
</ng-container>

<ng-container *ngIf="loggedIn">
  <div class="trello-container">
    <iframe [src]="url">

    </iframe>

    <div class="command-field mat-elevation-z2">
      <form #commandForm="ngForm" (ngSubmit)="sendCommand()">
        <mat-form-field color="primary">
          <input matInput placeholder="Enter command" [(ngModel)]="command" name="command">
          <mat-icon matSuffix (click)="record()">mic</mat-icon>
        </mat-form-field>
      </form>
    </div>
  </div>

</ng-container>