/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;

}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

@import "~@angular/material/prebuilt-themes/purple-green";

app-main {
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: white !important;
  }
  
  .mat-input-element {
    caret-color: white !important;
  }
  
  .mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
  }
}
